{
  "root": true,
  "extends": ["@react-native", "prettier"],
  "ignorePatterns": ["node_modules/", "build/", "lib/", "dist/", ".turbo", ".expo"],
  "rules": {
    "react/react-in-jsx-scope": 0,
    "no-duplicate-imports": "error",
    "no-console": ["error", { "allow": ["warn"] }],
    "newline-before-return": "error"
  },
  "parserOptions": {
    "requireConfigFile": false
  }
}
